@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif !important; 
  font-size: 1rem;
  color: #333;
  display: flex;
  flex-direction: column;
}

a.nav-link:hover {
  cursor: pointer;
  font-weight: bold;
}

.admin-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.admin-sidebar {
  box-shadow: 5px 5px 8px #a29ab3;
  border-radius: 0px 4.167vw 4.167vw 0px;
  width: 10.417vw;
  background-color: #50368b;
  color: #333;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: fixed;
}

.btns {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  div, a{
    padding-left: 16px;
  }
}

#icon {
  color: white;
  font-size: 1.563vw;
}

.admin-sidebar h2 {
  font-size: 1vw;
  margin-bottom: 0.521vw;
  color: #ffffff;
}

.admin-sidebar a {
  width: 65%;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.885vw;
  padding: 0.625vw 0px;
  border-radius: 4px;
  display: block;
  transition: background 0.3s;
}

.admin-sidebar a:hover {
  background-color: #b4a3d8;
}

.admin-content {
  flex: 1;
  padding-left: 1.042vw;
  margin-left: 10.417vw;
  overflow-y: auto;
  height: 100vh;
  position: relative;
}

.admin-content h1 {
  font-size: 1.3rem;
  margin-bottom: 1.042vw;
  color: #ffffff;
}

.admin-content label {
  display: block;
  font-size: 1rem;
  margin-top: 10px;
  color: #333;
}

.admin-content form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  border-radius: 8px;
  width: 85%;
}

.admin-content input,
.admin-content select,
.admin-content textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.admin-upload {
  width: 80px;
  height: 60px;
  border: 2px dashed #999;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
}

.admin-upload img {
  width: 24px;
  height: 24px;
  opacity: 0.7;
}

.admin-btn-publish {
  background-color: #50368b;
  color: #ffffff;
  border: none;
  padding: 10px 1.042vw;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
  display: inline-block;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 1.042vw auto;
}

.admin-btn-publish:hover {
  background-color: #a30336;
}

#logo {
  margin: 1.563vw 0px 0.521vw 1.563vw;
  width: 5.208vw;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.welcome-message,
#adc-doacao,
#ver-doacoes,
#editar-doacao,
#adc-parceiro,
#editar-parceiro,
#ver-parceiro,
#adc-relatorio,
#editar-relatorio,
#ver-relatorios,
#ver-noticias,
#editar-noticia,
#cadastrar-noticia,
#cadastrar-imovel,
#editar-imovel,
#ver-imoveis,
#adc-assistido,
#ver-assistidos,
#editar-assistido,
#adc-foto,
#excluir-foto,
#ver-interessados,
#ver-depoimentos,
#cadastrar-depoimento,
#editar-depoimento,
#ver-gastos,
#adc-gasto,
#editar-gasto,
#cadastrar-voluntario {
  color: #333;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
}

.welcome-message h1 {
  color: #50368b;
  font-size: 1.25vw;
  margin-bottom: 10px;
}
.welcome-message h2{
  font-weight: 600;
}

.welcome-message p {
  font-size: 0.833vw;
  line-height: 1.4;
  margin-bottom: 15px;
}

.welcome-message ul {
  margin-left: 1.042vw;
  list-style-type: disc;
}

.welcome-message ul li {
  line-height: 1.4;
}

#welcome {
  display: block;
}



/* Formatação para tables */
.table-container {
  margin: 5px auto;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Cabeçalho da tabela */
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #50368b;
  color: white;
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 1.5em;
  border-radius: 8px 8px 0 0;
  min-height: 6vw;
}
.table-header h1{
  margin:0;
  font-weight: 600;
}


/* Estilo geral da tabela */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.625vw 0.781vw;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e8e8e8;
}

/* Botões */
button.btn-danger {
  background-color: #af1111;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.btn-danger:hover {
  background-color: #520808;
}

/* Responsividade */
@media (max-width: 768px) and (max-height: 1000px) {

  .table-container {
    width: 100%;
    margin: 10px;
  }

  table {
    font-size: 14px;
  }

}

/* Estilo para o botão de edição */
.btn-edit,
.btn-delete {
  background-color: rgb(240, 240, 240);
  border: none;
  padding: 10px 1.042vw;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn-edit:hover {
  background-color: #8863dd;
}

.btn-delete:hover {
  background-color: #d13333;
}

.btn-edit:active {
  transform: scale(0.98);
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.26vw;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-textarea {
  width: 100%;
}

/*Modal
#modal-imoveis{
  display: none;  Inicialmente oculta 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente 
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.conteudoModal{
  display: relative;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 80%;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
Modal*/

/*tirando a side bar apos alcançar valores < que 990px*/
@media (max-width:990px) {

  /*Tirei a side bar*/
  .admin-sidebar {
    display: none;
  }
  #navbarTelaPequena{
    display: block !important;
  }

  /*Colocando outra no lugar*/

  body {
    font-size: 6vw;
  }

  .admin-content {
    margin: 0;
    padding: 0;
  }

  .navbarTelaPequena {
    display: block;
  }

  .welcome-message p {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 15px;
  }

  .welcome-message ul {
    margin-left: 1.042vw;
    list-style-type: disc;
  }

  .welcome-message ul li {
    line-height: 1.4;
  }
}

/*Colocando a nova side bar e alguns ajustes para a exibição das tabelas*/
@media (max-width:500px) {

  #navbarTelaPequena{
    display: block !important;
  }

  #adc-doacao,
  #ver-doacoes,
  #adc-parceiro,
  #editar-parceiro,
  #ver-parceiro,
  #adc-relatorio,
  #editar-relatorio,
  #ver-relatorios,
  #ver-noticias,
  #editar-noticia,
  #cadastrar-noticia,
  #cadastrar-imovel,
  #editar-imovel,
  #ver-imoveis,
  #adc-assistido,
  #ver-assistidos,
  #editar-assistido,
  #adc-foto,
  #excluir-foto,
  #ver-interessados,
  #ver-depoimentos,
  #cadastrar-depoimento,
  #editar-depoimento,
  #ver-gastos,
  #adc-gasto {
    padding: 0;
    background-color: #ffffff;
    margin:0;
  }
  .table-header{
    border-radius: 0;
    display: flex;
    align-items: center;

  }
  .table-header h1{
    font-size: 5vw;
    margin:0;
    font-weight: 600;
  }
  .table-container{
    margin: 0px;
    border-radius: 0;
  }
}