@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Estilos Gerais */
html {
    width: 100%;
    height: 100%;
    font-family: 'inter', 'sans-serif';
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        color: #333;
        background-color: #ffffff;
        display: block;
    }
    main{
        width: 100%;
    }
    /* Títulos */
    h1, h2, h3, h4, h5, h6 {
        color: #50368b;
        margin-bottom: 10px;
        line-height: 1.3;
    }
    h1 {
        text-align: center;
        font-size: 2.2rem;
    }
    h2 {
        text-align: center;
        font-size: 1.8rem;
    }
    h3 {
        text-align: center;
        font-size: 1.5rem;
        color: #a30336 !important;
    }
    h4 {
        font-size: 1.3rem;
        color: #a30336 !important;
    }
    p {
        font-weight: 400;
        font-size: 1rem;
        text-align: justify;
        color: #444;
    }

}

/* Menu superior responsivo */
.navbar {
    background-color: #50368b;
    a{
        color:white;
        &:hover{
            font-weight: bold;
            color:white;
        }
    }
    #logo{
        margin: 7px;
    }
    .navbar-toggler {
        border-color: white;
    }
    .dropdown-item{
        color:#a30336;
        &:hover{
            background-color: white;
        }
    }
    li {
        list-style: none;
    }
    .login-btn {
        font-weight: bold;     
        color: white;               
        border: 1px solid white;   
        padding: 8px 20px;     
        border-radius: 5px;     
        text-decoration: none;    
        transition: background-color 0.3s, color 0.3s; 
        &:hover {
            background-color: #a30336;
            color: white;  
        }
    }
}

/* Conteúdo geral */
#banner1{
    width: 100%;
    margin-bottom: 30px;
}
section, article {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    p{
        text-align: justify;
    }
    /* Botões de Ação */
    .cta, .btn-perfil {
        display: inline-block;
        width: 250px;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.5s;
        background-color: #a30336;
        color: #ffffff;
        margin: 0 10px 10px 0;
        &:hover{
            background-color: #50368b;
        }
    }
}


/* PÁGINA PRINCIPAL */
/* Depoimentos e Notícias */
#depoimentos, #noticias {
    padding: 10px;
    margin-bottom: 20px;
}
.depoimento, .noticia {
    width: 90%;
    margin: 0 auto;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 15px;
    &:hover{
        transform: translateY(-5px);
    }
}
.depoimento p {
    text-align: center;
    color: #ffd700;
    margin: 5px;
}
#memorias {
    padding: 20px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    .gallery-item {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        &:hover img {
            transform: scale(1.05);
        }
    }
    img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
    }
}
.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
}
.caption h5 {
    margin: 0;
    padding: 10px;
    padding-right: 30px;
    font-weight: bold;
    color: white !important;
    font-size: 0.85rem;
}


/* PÁGINA DE DOAÇÕES */
.transferencia, .pix {
    background: linear-gradient(to right, #ece4ff 40%, #9371e4);
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover{
        transform: translateY(-5px); 
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
    .label{
        color: #50368b;
        font-weight: bold;
    }
}
.pix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; 
    .detalhes {
        margin-top: 10px;
        &:strong {
            color: #50368b;
            font-weight: bold;
        }
    }
}
.qr-code {
    margin-top: 10px;
}
.qr-image {
    max-width: 150px;
    height: auto;
    margin-top: 10px;
    border: 2px solid #50368b;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.doacao > div {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.label {
    color: #a30336;
    font-weight: bold;
}

/* PÁGINA DE CONTATO */
.informacoes-contato, .redes-sociais, .horario-atendimento {
    background: linear-gradient(to right, #ece4ff 40%, #9371e4);
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    &:hover{
        transform: translateY(-5px); 
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
    strong{
        font-weight: bold;
        color: #50368b;
    }
    h3{
        color: #50368b; 
        font-weight: bold;
        margin-top: 20px;
    }
}
.redes-sociais {
    ul{
        list-style-type: none;
        padding-left: 0;
    }
    li{
        margin-bottom: 10px;
    }
}
.social-link {
    text-decoration: none;
    color: #50368b;
    transition: transform 0.3s ease, color 0.3s ease;
    &:hover {
        transform: translateY(-5px);
        text-decoration: none;
        font-weight: bold;
        color: #a30336; /* Cor ao passar o mouse */
    }
    i {
        margin-right: 8px;
    }
    .contato a {
        color: #50368b;
    }
}

/* PÁGINA DE PARCEIROS */
.parceiros-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin: 0px;
    margin-bottom: 50px;
    .card-parceiro {
        background-color: #f7f7f7;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        max-width: 900px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        &:hover {
            transform: translateY(-5px);
        }
        h4{
            margin-bottom: 10px;
            color: #50368b;
        }
    }
}